@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap&css');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap&css');
@import url('./theme.less');

body {
  margin: 0;
  background-color: @C4;
  color: @C5;
  font-family: 'Titillium Web', sans-serif;

  overscroll-behavior: none;
}

.stage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: grey;
  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: royalblue;
  }
}
